/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  h1, h2 {
    font-family: 'Faster One';
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  /* section styles */
  section article {
    width: 25%;
    float: left;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }


footer
{
float: left;
margin-left:  5%;
}
  footer article {
    width: 31%;
    float: left;
    margin-right: 1%;
  }
  
   footer p {
    margin: 5px 0;
    margin-right: 20%;
  }
  
  footer ul {
    margin-top: 0;
  }



  aside
{
float: left;
margin-left:  5%;
}
  aside article {
    width: 60%;
    float: left;
    margin-right: 1%;
    
  }
  
   aside p {
    margin: 5px 0;
   
  }
  
  aside ul {
    margin-top: 0;
    position:absolute;bottom:0;left:0;width:100%;padding:6px;font-weight:400;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box
  }